h1{
    text-align: center;
}

.board table{
    margin: auto;
}

table td{
    width: 100px;
    height: 100px;
}

.firstRow td{
    border-bottom: 1px solid black;
}

.lastRow td{
    border-top: 1px solid black;
}
.firstElement{
    border-right: 1px solid black;
}

.lastElement{
    border-left: 1px solid black;
}


